.App {
  text-align: center;
}


.App {
  text-align: center;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(70,70,70);
	color:white;
}

.nav-links {
  color:white;
	width:50%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	list-style:none;
}

li{
  color:white;
}